@import './base.css';

#app {

}

body::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #3c3c3caa; /* color of the scroll thumb */
    border-radius: 25px; /* roundness of the scroll thumb */
}

* {
    font-family: "Montserrat", serif;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: var(--main-color);;
}

h2 {
    font-size: 27px;
    line-height: 33px;
    color: var(--main-color);
}

a,
.green {
}

@media (hover: hover) {
    a:hover {
    }
}

@media (min-width: 1024px) {
    body {
    }

    #app {
    }
}
